<h1>Hola <%= @customer.full_name %>!</h1>

<p>Tu pago por la órden #<%= @purchase.id %> fue realizada!</p>

<h2>Deberás entregar el siguiente código al momento de retirar tu pedido</h2>
<h1><%= @purchase.code %></h1>

<p>Gracias por tu compra!</p>
