<% path_for_user = @user_kind == 'Customer' ? 'app' : 'manager' %>
<p>Hola!</p>

<p>En el siguiente link podras cambiar la contraseña de tu cuenta</p>

<p><%= link_to 'Cambiar mi contraseña', "#{ENV['APP_HOST']}/#{path_for_user}/forgot_password/reset?token=#{@token}" %></p>

<p>Si no solicitaste el cambio, ignora este mail.</p>
